# Entorno virtual de Python
venv/
*.pyc
__pycache__/

# Archivo de variables de entorno (¡MUY IMPORTANTE!)
.env

# Archivos de sesión de Flask
session_data/

# Archivos del GUI
favicon.ico
manager.py
manager.spec
manager.exe
manager_config.json
manager copy.py
build/