# Entorno virtual de Python
venv/
*.pyc
__pycache__/

# Archivo de variables de entorno (¡MUY IMPORTANTE!)
.env

# Archivos de sesión de Flask
session_data/

# Archivos del GUI
favicon.ico
certificado_bg.jpg
manager.py
manager.spec
manager.exe
manager_config.json
manager copy.py
build/
Certificados/


# Archivos de bases de datos
servicios.json
ventas_pendientes.json
costos_cache.json
clientes_cache.json
material_recipes.json
materials.json
citas.json
credentials.json
service_account.json